*{
	cursor: default;
}

.child{
	display: none;
}

.threeLines{
	width:	25px;
	height:	20px;
	/* 子要素がこのクラスを基準に絶対位置指定できる */
	position: relative;
	/* カーソル指定 */
}

/* ↓3本線に関する設定↓ */
.threeLines span{
	background-color: black;
	width:24px;
	height:2px;
	/* 要素を縦に並べる */
	display: block;
	/* 親要素の左上の位置からの絶対位置を指定 */
	position: absolute;
	/* アニメーションの実行時間を指定 */
	transition-duration: 0.25s;
}
.threeLines .line1{	top:	0;}
.threeLines .line2{	top:	10px;}
.threeLines .line3{	top:	10px;}
.threeLines .line4{	top:	20px;}

.active .line2{/* 45度回転 */transform: rotate(45deg);}
.active .line3{/* 45度回転 */transform: rotate(-45deg);}
.active .line1,.active .line4{/* 拡大縮小 x,y方向 */transform: scale(0,0);}
/* ↑3本線に関する設定↑ */


div{
	width: 50%;
	background-color: #e36;
	padding: 5px;
}

div a{
	color: white;
}

li{
	/* リストの初期設定OFF */
	list-style: none;
	margin: 2px;
}
